.row {
  padding: 20px 40px;
  color: white;
}

.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-top: 15px;
}

.row-container::-webkit-scrollbar {
  display: none;
}

.see-more {
  color: #1a98ff;
  cursor: pointer;
}