/* NAVBAR CONTAINER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #02101d;
  color: white;
}

/* LEFT SIDE (logo + links) */
.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* LOGO */
.logo {
  font-size: 26px;
  font-weight: 800;       /* more bold */
  letter-spacing: 1px;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #b8c2cc;
  font-size: 16px;
  font-weight: 1000;
  transition: 0.3s;
}

.nav-links a:hover {
  color: white;
}

/* RIGHT SIDE (search icon) */
.nav-right {
  display: flex;
  align-items: center;
}

.search-icon {
  cursor: pointer;
  font-size: 20px;
  color: white;
}

/* SEARCH DROPDOWN */
.search-container {
  background-color: #000A12;
  padding: 40px 60px;
}

.search-container input {
  width: 100%;
  padding: 18px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 30px;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.not-found {
  color: white;
  font-size: 16px;
}